* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

.menu1,
.menu2 {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin: 5px;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    margin: 5px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}

a:hover {
    color: silver;
}

.menu2>a {
    font-size: 12px;
}

.menu1>a {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

span {
    display: block;
    margin: 10px;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
}

.fa fa-bars {
    display: inline-block;
    width: 24px;
    height: 26px;
    padding: 0;
    position: relative;
}

main {
    font-size: 12px;
    background-color: #7E0019;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.first-item {
    color: #900022;
}

.left,
.right {
    display: flex;
    align-items: center;
    font-weight: 800px;
}

.left,
.right>div {
    margin: 10px;
}

.centr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lang {
    display: flex;

}

.lang>span {
    margin: 0;
}

.ukr {
    opacity: 0.5;
}

.button {
    display: flex;
}

.btn {
    display: inline-block;
    height: 40px;
    border: 3px solid white;
    background: #b30c1d;
    border-radius: 20px;
    position: relative;
    align-items: center;

}

.btn:hover {
    opacity: 0.5;
}

svg {
    width: 308px;
    height: 42px;
}

svg[Attributes Style] {
    x: 0px;
    y: 0px;
    fill: rgb(255, 255, 255);

}

user agent stylesheet svg:not(:root) {
    overflow: hidden;
}